$white : hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$primaryfont: 'Outfit';


body {
    margin: 0;
    background-color: $light-gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: $white;
    padding: 0.8em;
    max-width: 15.3em;
    min-height: 23em;
    box-sizing: border-box;
    border-radius: 6%;
    box-shadow: 1px 8px 15px hsl(211, 25%, 82%);
}

.qrimg{
    max-width: 100%;
    border-radius: 4%;
}

.text1{
    color: $dark-blue;
    font-family: $primaryfont;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
    box-sizing: border-box;
}

.text2{
    color: hsl(221, 13%, 57%);
    font-family: $primaryfont;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    padding: 0px 1rem;
    box-sizing: border-box;
}